*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#blog{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title{
  padding-top: 20px;
    text-align: center;
    color: #2479c0;
    font-weight: bold;
}
.description{
    text-align: center;
    color: #6d99c0;
    font-weight:600;
}


/* Carousel */

.user-card {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 99% 86%, 43% 86%, 37% 100%, 21% 86%, 0 86%);
  clip-path: polygon(0% 0%, 100% 0%, 99% 86%, 43% 86%, 37% 100%, 21% 86%, 0 86%);
  background-color: white;
  width: 100%;
  height: 150px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  margin-top:50px;
  margin-left:0px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.user-card p{
  text-align: left;
  vertical-align: middle;
  line-height: 25px; 
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid #eee;
  overflow: hidden;
  margin:auto;
  display: block;
}

.avatar img {
  width:100%;
}



.slider {
    margin: 100px 20px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide .card-img-top {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(157, 40, 40);
}

.card-title{
    text-align: center;
    border-bottom: 2px solid #2479c0;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-top: 20px;
}
.card,.card-img-top{
    border-radius:18px;
}
.second-title{
  text-align: center;
}
.card-text{
  text-align: center;
}
.card-img-down{
  border-radius: 50%;
  width: 30%!important;
  height: 20%;
}
.card{
  position: relative;
  width: 16rem!important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-img-top{
  position: relative;
  height: 200px;
}
.card-img-down{
  position: absolute;
  bottom: 160px;
  right: 90px;
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -30px;
  color: #2479c0;
 background-color: white;
 padding: 10px 15px;
 border-radius: 8px;
}
.next-arrow{
  right: -10px;
 color: #2479c0;
 background-color: white;
 padding: 10px 15px;
 border-radius: 8px;
}

@media only screen and (max-width:321px){
  .card{
right: 20px;

  }
  .fa-arrow-left{
    display: none!important;
  }
}
@media only screen and (max-width:769px) and (min-width:426px){
  .col-md-4{
    width: 300px!important;
  }
}
@media only screen and  (max-width:1025px) and (min-width:769px){
  .card{
    width: 14rem!important;
  }
  .card-img-down{
    right: 80px;
  }
}